<div class="topcorner" >
    <a href="#" (click)="logout()"> Cerrar sesión</a>

    </div>
<br>  
<br>  

<div class="caja">


    <h1> Conclusión sección 2 - Ansiedad</h1>
<br>   
<br>
            <FONT SIZE=5 > 
        <p>¡Has concluido la sección 2 del test!, y según lo que nos manifiestas presentas sintomas de estres post traumatico, acude a un profesional en el area
    
        </p>
    </FONT> 
</div>
        <br>
        <p class="parrafos">
                <FONT SIZE=5 > 
       Hemos terminado el Test, muchas gracias por tu confianza.
    </FONT>
       </p>
    
   
<br>
            <div align="center"> 
                <a class="boton_personalizado_si_no" (click)="reiniciar()" [routerLink]="['/introduccion']">Finalizar</a>
              
            
            

    </div>

