<div class="topcorner" >
        <a href="#" (click)="logout()"> Cerrar sesión</a>

        </div>
<div class="titulos">

    <h1> Sección 1
        </h1>
<br>
            <h2> Pregunta 3
                </h2>      
    </div>
<br>
    <div class="parrafos">
            <FONT SIZE=5 > 
        
                <p> ¿Consideras que presentas dificultades en el
                     funcionamiento diario en el ambito personal, familiar, social o de cualquier otro tipo? 
                    </p>
        
    </FONT> 
    </div>
    <br>
<br>
            <div align="center"> 
                <a class="boton_personalizado_si_no" [routerLink]="['/prediccion1seccion1']">Si</a>
              
                <a class="boton_personalizado_si_no" [routerLink]="['/seccion1pregunta2']">No</a>
            

    </div>
 
