<div class="topcorner" >
        <a href="#" (click)="logout()"> Cerrar sesión</a>

        </div>
<br>  
<br> 
<div class="caja">


        <h1> Conclusión sección 2</h1>
    <br>   
    <br>
                <FONT SIZE=5 > 
            <p>¡Has culminado la sección 2 del test!, y según lo que nos manifiestas ...
        
            </p>
        </FONT> 
</div>
            
       
    <br>
                <div align="center"> 
                    <a class="boton_personalizado_si_no" [routerLink]="['/seccion2pregunta1']">Finalizar </a>
                  
                
                
    
        </div>
