<div class="topcorner" >
        <a href="#" (click)="logout()"> Cerrar sesión</a>
    
        </div>
    <br>  
    <br>  
    
    <div class="caja">
       <h1> Conclusión - Ansiedad</h1>
       <br> 
    <br>
                <FONT SIZE=5 > 
            <p>Sigue adelante con el test para poder acertar de manera mas precisa tu situación emocional actual.
        
            </p>
        </FONT> 
    </div>
            <br>
        
       
    <br>
                <div align="center"> 
                    <a class="boton_personalizado_si_no" [routerLink]="['/seccion1pregunta2p']">Continuar</a>
                  
                
                
    
        </div>
