<div class="topcorner" >
        <a href="#" (click)="logout()"> Cerrar sesión</a>
    
        </div>
    <br>  
    <br>  
    
    <div class="caja">
    
    
        <h1> Conclusión</h1>
    <br>   
    <br>
                <FONT SIZE=5 > 
            <p>Según lo manifestado anteriormente padeces un estado de ansiedad cronica, acude a un profesional en el area. 
            </p>
        </FONT> 
    </div>
            <br>
           
        
       
    <br>
                <div align="center"> 
                    <a class="boton_personalizado_si_no" [routerLink]="['/introduccion']">Finalizar</a>
                  
                
                
    
        </div>