<div class="topcorner" >
        <a href="#" (click)="logout()"> Cerrar sesión</a>

        </div>
<br> 
<br> 
<div class="caja">


        <h1> Conclusión</h1>
    <br>   
    <br>
                <FONT SIZE=5 > 
            <p>Busca ayuda para tratar la enfermedad fisica
        
            </p>
        </FONT> 
</div>
            <br>
        
       
    <br>
                <div align="center"> 
                    <a class="boton_personalizado_si_no" [routerLink]="['/seccion2pregunta2']">Continuar</a>
                  
                
                
    
        </div>

