<div class="topcorner" >
                <a href="#" (click)="logout()"> Cerrar sesión</a>
        </div>
 <FONT SIZE=20 COLOR=#025624>
<h2 align="center"> Introducción
    </h2></FONT>
<br>

    <div class="parrafos">
    <FONT SIZE=5 > <p>El estado de animo de las personas se ve reflejado ante los multiples
            sintomas que pueden desencadenar cierta acción. En breve te presentaremos
           una serie de indicios, para que asi nos cuentes si te identificas con ellos o no.</p> </FONT>
        </div>
        <br>
<br>
        <div align="center">


                <a class="boton_personalizado" [routerLink]="['/seccion1pregunta1']">Comenzar</a>
               
        </div>

        