<div class="topcorner" >
        <a href="#" (click)="logout()"> Cerrar sesión</a>

        </div>
<div class="titulos">

    <h1> Sección 1
        </h1>
<br>
            <h2> Pregunta 2
                </h2>      
    </div>
<br>
    <div class="parrafos">
            <FONT SIZE=5 > 
        <p>Según lo acontecido en las ultimas dos semanas, 
            ¿te sientes identificado con alguna de las situaciones que se presentan a continuación?
            </p>
            <br>
            <ul align="left">

                <li>
                       <a>Alteración en tu apetito.</a>
                    </li>

                <li>
                        <a>Sentimientos de culpabilidad.</a>
                    </li>

                <li>
                        <a>Cansansio de manera periodica.</a>
                    </li>
                <li>
                        <a>Distracción frecuente.</a>
                    </li>
                <li>
                        <a>Indesición.</a>
                    </li>
                <li>
                        <a>Intranquilidad constante.</a>
                    </li>
                <li>
                        <a>Pensamientos negativos, tales como culpa, pesimismo, insultos, angustia.</a>
                </li>
                    
            </ul>
<br>
        
    </FONT> 
    </div>
<br>
            <div align="center"> 
                <a class="boton_personalizado_si_no" [routerLink]="['/seccion1pregunta3']">Si</a>
              
                <a class="boton_personalizado_si_no" [routerLink]="['/seccion1pregunta2']">No</a>
            

    </div>
