<div class="topcorner" >
        <a href="#" (click)="logout()"> Cerrar sesión</a>

        </div>
<div class="titulos">

        <h1> Sección 2
            </h1>
    <br>
                <h2> Pregunta 1
                    </h2>      
        </div>
    <br>
        <div class="parrafos">
                <FONT SIZE=5 > 
            <p>¿Presentas signos o sintomas que afectan tu condición fisica y por lo tanto 
                impacten negativamente tu estado de animo actual?, tales como:
            </p>

            <ul align="left">

                    <li>
                           <a>Malnutricíon.</a>
                        </li>
    
                    <li>
                            <a>Fatiga.</a>
                        </li>
    
                    <li>
                            <a>Debilidad</a>
                        </li>
                    <li>
                            <a>Fatiga considerable.</a>
                        </li>
                    <li>
                            <a>Efectos secundarios debido a ciertos medicamentos.</a>
                        </li>
                    <li>
                            <a>Debilidad muscular.</a>
                        </li>    
                    <li>
                            <a>Hinchazon en tus extremidades.</a>
                        </li>  
                </ul>
        </FONT> 
        </div>
    <br>
                <div align="center"> 
                    <a class="boton_personalizado_si_no" [routerLink]="['/prediccion1seccion2']">Si</a>
                  
                    <a class="boton_personalizado_si_no" [routerLink]="['/seccion1pregunta2']">No</a>
                
    
        </div>
