<mat-card>

        <ng-template tdLoading="usuarios.list">
            <mat-list class="will-load">
                <div class="pad" *ngIf="usuarios?.length === 0" layout="row" layout-align="center">
                    <h3> No hay usuarios para mostrar </h3>
                </div>
    
                <ng-template let-depo let-last="last" ngFor [ngForOf]="usuarios">
                    <mat-list-item>
                        <mat-icon matListAvatar>dns</mat-icon>
                        <h3 matLine> ID: {{depo.id}}</h3>
                        <h3 matLine> {{depo.descripcion}}</h3>
                    </mat-list-item>
    
                    <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                </ng-template>
            </mat-list>
        </ng-template>
    </mat-card>
    
    
