<div class="topcorner" >
        <a href="#" (click)="logout()"> Cerrar sesión</a>

        </div>
<br>  
<br>  
  
<div class="caja">


        <h1> Conclusión </h1>
    <br>   
    <br>
                <FONT SIZE=5 > 
            <p>¡Has culminado la sección 1 del test!, y según lo que nos manifiestas ...
        
            </p>
        </FONT> 
</div>
            <br>
            <p class="parrafos">
                    <FONT SIZE=5 > 
           A continuación se dará inicio a la sección 2, allí evaluaremos 
           otras posibles causas que influyen en tu estado de animo actual.
        </FONT>
           </p>
        
       
    <br>
                <div align="center"> 
                    <a class="boton_personalizado_si_no" [routerLink]="['/seccion2pregunta1']">Continuar</a>
                  
                
                
    
        </div>
