<div class="topcorner" >
        <a href="#" (click)="logout()"> Cerrar sesión</a>
    
        </div>
    <br>  
    <br>  
    
    <div class="caja">
       
    <br>
                <FONT SIZE=5 > 
            <p>Según menifiestas, no padeces de algún tipo de ansiedad.
            </p>
        </FONT> 
    </div>
            <br>
        
       
    <br>
                <div align="center"> 
                  
                        <a class="boton_personalizado_si_no" [routerLink]="['/introduccion']">Menú principal</a>
                
    
        </div>

